.bodyCanvas{
	position:fixed; 
	top:0; 
	left:0;
}

body.site-body{
	background-image: url(../img/misc/timon.jpg); 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-size: cover; 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

img.fish{ 
	position:fixed; 
	top:900px; 
	left:500px;
}

.tab-index>a {
	background: rgba(255,255,255,.25);
}

.index-content-main {
	background: rgba(128,128,128,.85);
    border-radius: 0 0 5px 5px;
    padding:15px;
    max-height: calc(100% - 50px);
}