<div class="row">
	<div class="col-xs-4">
		<label class="large">Money: {{racing.racingGame.availableCash|currency}}</label>
	</div>
	<div class="col-xs-4">
		<label class="large">Class: {{racing.racingGame.racingClass}}</label>
	</div>
	<div class="col-xs-4">
		<button class="btn btn-warn" data-ng-click='racing.resetGame()'>Reset Game Data</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-lg-2">
		<md-list>
  			<md-list-item ui-sref="racing.garage" ui-sref-active="active">
    			<span class="glyphicon glyphicon-home"></span>
    			<p style="padding-left:15px;">Garage</p>
  			</md-list-item>
  			<md-list-item ui-sref="racing.store" ui-sref-active="active">
    			<span class="glyphicon glyphicon-shopping-cart"></span>
    			<p style="padding-left:15px;">Buy New Cars</p>
  			</md-list-item>
  			<md-list-item ui-sref="racing.upgrades" ui-sref-active="active">
    			<span class="glyphicon glyphicon-wrench"></span>
    			<p style="padding-left:15px;">Upgrade Car</p>
  			</md-list-item>
  			<md-list-item ui-sref="racing.setup" ui-sref-active="active">
<!--     			<md-icon md-svg-icon="cached"></md-icon> -->
				<span class="glyphicon glyphicon-flag"></span>
    			<p style="padding-left:15px;">Ready to Race!</p>
  			</md-list-item>
		</md-list>
	</div>
	<div class="col-xs-9 col-lg-10">
		<ui-view></ui-view>
	</div>
</div>