
$site-light-grey : #d3d3d3;
$bootstrap-blue : #337ab7; 
$primary-white : #fff;
$primary-black : #555;
$bootstrap-dark-blue : #23527c;

.background-light-grey {
	background-color: $site-light-grey;
}