<form novalidate data-ng-submit="modalCtrl.execute()">
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Load User</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<p>Note: Only Admin Accounts have an associated password</p>
		</div>
		<div class="col-xs-6">
			<div class="form-inline">
				<label for="loadUsername">User Name:</label>
				<input id="loadUsername" class="form-control" data-ng-model="modalCtrl.username"/>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-inline">
				<label for="loadPassword">Password:</label>
				<input id="loadPassword" class="form-control" data-ng-model="modalCtrl.password"/>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="submit">Load User</button>
	<button class="btn btn-warning" type="button" data-ng-click="modalCtrl.cancel()">Cancel</button>
</div>
</form>