
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

	select {font-weight: bold; font-size: 22px; float:left; padding-right:10px;}
	div.inline{display:inline-block; width: 100%; padding-bottom:10px; text-align:left;}
	label.large {font-weight: bold; font-size: 22px; float:left; padding-right:10px;}
	label.small {float:left; padding-left:30%;}
	div.panel{float:left; width:49%; height:100%; text-align:left;}
	div.master{width:100%;float:left; width: 100%; padding-bottom:10px; text-align:center;}
	button{
		width: 150px;
		padding: 10px;
		box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
		font-weight: bold;
		vertical-align:middle;
		margin:auto;
		position:absolute;
		left: 30px;
		top: 770px;
	}