body {
	background:none transparent;
	padding:0;
	margin:0;
	font-weight: bold;
	overflow:hidden;
	line-height:4vmin;
	font-size:3.5vmin;
	color: #ffffff;
	white-space:nowrap;
}

.promptOptions{
	padding-left:2.5vmin;
}

.centerWrapper{
	margin:0 auto;
	left:0;
	right:0;
}

.menu{
	background-color:#6B238E;
	background-image: url("../img/blitzball/cracks.png");
	border: 5px double white;
	z-index:1000;
	padding:2.5vmin;
}

.selector{
	position:absolute;
	left:-5vmin;
	top:0vmin;
	width:5vmin;
	height:4vmin;
}