<div class="row">
	<div class="col-xs-3 col-lg-2 raceLeftPanel">
		<div class="statsPanel">
			<div>
				<h3 class="statsHeader">Racer Info</h3>
			</div>
			<div>
				<table>
					<tr>
						<td class="statsLabel">Money:</td>
						<td class="statsValue">{{racing.racingGame.availableCash|currency}}</td>
					</tr>
					<tr>
						<td class="statsLabel">Class:</td>
						<td class="statsValue">{{racing.racingGame.racingClass}}</td>
					</tr>
				</table>
			</div>
		</div>
		<md-list class="raceNavList">
			<md-list-item ui-sref="racing.garage" ui-sref-active="active">
				<span class="glyphicon glyphicon-home"></span>
				<span class="raceNavItemText">Garage</span>
			</md-list-item>
			<md-list-item ui-sref="racing.store" ui-sref-active="active">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				<span class="raceNavItemText">Buy New Cars</span>
			</md-list-item>
			<md-list-item ui-sref="racing.upgrades" ui-sref-active="active">
				<span class="glyphicon glyphicon-wrench"></span>
				<span class="raceNavItemText">Upgrade Car</span>
			</md-list-item>
			<md-list-item ui-sref="racing.setup" ui-sref-active="active">
				<span class="glyphicon glyphicon-flag"></span>
				<span class="raceNavItemText">Ready to Race!</span>
			</md-list-item>
		</md-list>
		<div>
			<button class="btn btn-danger" data-ng-click='racing.resetGame()'>Reset
				Game Data</button>
		</div>
	</div>
	<div class="col-xs-9 col-lg-10">
		<ui-view></ui-view>
	</div>
</div>